@using ServiceInsight.Web.Model
@if (Message != null)
{
    <ul class="nav nav-pills" style="height: 5%;">
        <li class="nav-item" @onclick="@(() => SetCurrentView("flow"))">
            <a class="nav-link @(CurrentView == "flow" ? "active" : "")" aria-current="page" href="#"><i class="bi-diagram-2"></i> Flow Diagram</a>
        </li>
        <li class="nav-item" @onclick="@(() => SetCurrentView("saga"))">
            <a class="nav-link @(CurrentView == "saga" ? "active" : "")" href="#"><i class="bi-shuffle"></i> Saga</a>
        </li>
        <li class="nav-item" @onclick="@(() => SetCurrentView("sequence"))">
            <a class="nav-link @(CurrentView == "sequence" ? "active" : "")" href="#"><i class="bi-bezier2"></i> Sequence Diagram</a>
        </li>
        <li class="nav-item" @onclick="@(() => SetCurrentView("headers"))">
            <a class="nav-link @(CurrentView == "headers" ? "active" : "")" href="#"><i class="bi-list-columns-reverse"></i> Headers</a>
        </li>
        <li class="nav-item" @onclick="@(() => SetCurrentView("body"))">
            <a class="nav-link @(CurrentView == "body" ? "active" : "")" href="#"><i class="bi-code-slash"></i> Body</a>
        </li>
        <li class="nav-item" @onclick="@(() => SetCurrentView("logs"))">
            <a class="nav-link @(CurrentView == "logs" ? "active" : "")" href="#"><i class="bi-book"></i> Logs</a>
        </li>
    </ul>
    <div class="container-fluid" style="height: 100%;">
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "flow" ? "" : "d-none")">
            <FlowView Message="Message" IsVisible="@(CurrentView == "flow")"></FlowView>
        </div>
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "saga" ? "" : "d-none")">
            TODO - Not sure how to render yet
        </div>
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "sequence" ? "" : "d-none")">
            TODO - Not sure how to render yet
        </div>
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "headers" ? "" : "d-none")">
            <HeadersView Message="Message"></HeadersView>
        </div>
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "body" ? "" : "d-none")">
            <BodyView Message="Message" IsVisible="@(CurrentView == "body")"></BodyView>
        </div>
        <div class="container-fluid mx-0 px-0 pt-4 @(CurrentView == "logs" ? "" : "d-none")">
            TODO - Not sure how to pull these yet
        </div>
    </div>
}
@code {

    private BodyView _bodyView;
    private string CurrentView = "flow";

    [Parameter]
    public MessageInfo Message { get; set; }


    private async Task SetCurrentView(string view)
    {
        CurrentView = view;
        StateHasChanged();
    }
}